.wrapper {
  width: 85%;
  margin: 0 auto;
  box-shadow: 1px 1px 5px 2px rgba(61, 61, 61, 0.281);
  border-radius: 10px;
  padding-bottom: 15px;


  h2 {
    text-align: center;
    margin-top: 30px;
  }
}
.content {
  margin: 20px auto;
  width: 45%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  justify-content: center;
  border-radius: 7px;
  padding: 15px;

  @media (min-width: 768px) {
    width: 35%;
    h3{
      font-size: 28px;
    }
  }

}
.translate{
  justify-self: end;
}
.wrapBtn {
  height: 25px;
  margin: 0 auto;
  text-align: center;

  button {
    height: 25px;
    width: 100px;
    border-radius: 7px;
    background-color: #2f5794;
    margin-right: 10px;
    color: #ffffff;
    cursor: pointer;
    @media (min-width: 768px) {
      margin-right: 25px;

    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.enter {
  /* transform:translateX(-100%); */
  transform: scale(0.1);
  opacity: 0.1;
}

.enterActive {
  /* transform:translateX(0); */
  opacity: 1;
  transform: scale(1);

  transition: all 250ms linear;
}

.exit {
  /* transform:translateX(0); */
  opacity: 1;
  transform: scale(1);
}
.exitActive {
  opacity: 0.1;
  transform: scale(0.1);

  /* transform:translateX(-100%); */
  transition: all 250ms linear;
}
