.list__item {
  box-sizing: border-box;
  width: 100%;
  min-height: 30px;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr min-content;
  grid-column-gap: 5px;
  border: 1px solid rgb(211, 211, 211);
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
@media (min-width: 768px){
  grid-column-gap: 10px;

}
}

.btn_delete {
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  align-self: center;
  @media (min-width: 768px){
    width: 25px;
    height: 25px;
  }
}
.btn_delete:active {
  outline: none;
}

.light {
  color: #ffffff;
}
.dark {
  color: black;
}
