.list__item {
  box-sizing: border-box;
  width: 100%;
  height: 35px;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr max-content 30px;
  grid-column-gap: 10px;
  border: 1px solid rgb(211, 211, 211);
  align-items: center;
}

.btn_delete {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.btn_delete:active {
  outline: none;
}

.light {
  color: #ffffff;
}
.dark {
  color: black;
}
