@font-face {
  font-family: 'roboto';
  font-style: normal;
  src: url('../fonts/roboto-v20-latin-regular.ttf');
}

@font-face {
  font-family: 'Autoradiographic';
  font-style: normal;
  src: url('../fonts/Autoradiographic_Rg.ttf');
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

p {
  margin: 0;
}
