.container {
  margin: 0 auto;
  width: 580px;
  display: grid;
  column-gap: 10px;
  grid-template-columns: min-content min-content min-content;
  justify-content: end;
}

.payt2 {
  display: none;
}
.label {
  position: relative;
  /* margin-left: 60%; */
  display: block;
  width: 90px;
  height: 10px;
  padding: 15px;
  border-radius: 50px;
  line-height: 10px;
  color: #31b3ff;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
  background: rgb(71, 71, 71);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0 0 5px rgb(60, 60, 60),
    inset 0 6px 6px rgba(0, 0, 0, 0.5),
    inset 0 -6px 1px rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.label:before {
  content: 'OFF';
  position: absolute;
  right: 15px;
  color: #000;
}
.label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 5px;
  display: block;
  width: 50px;
  height: 30px;
  border-radius: 50px;
  background: #ccc linear-gradient(#fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  transition: 0.5s;
}
.payt2:checked ~ .label:after {
  left: 65px;
}
