@font-face {
  font-family: 'roboto';
  font-style: normal;
  src: url('./roboto-v20-latin-regular.ttf');
}

.container {
  margin: 0 auto;
  font-family: 'roboto';
  width: 100vw;
  min-height: 100vh;
  position: relative;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 45%,
    rgba(173, 171, 171, 1) 100%
  );
}


