.svgLightTheme {
  fill: #f30606;
  width:inherit;
  height: inherit;
}
.svgDarkTheme {
  fill: #ffffff;
  width:inherit;
  height: inherit;
}
.svgLightTheme:hover {
  fill: #ff000056;
}
.svgDarkTheme:hover {
  fill: #f30606;
}
